---
layout: default
title: 버드나무 동
---

<div id="home">
  <h2>Categories</h2>
  
    <ul style="list-style:none;">
      {% assign pages_list = site.pages %}
      
      {% for node in pages_list %}
        
        {% if node.title != null %}
          
          {% if node.layout == "categories" %}          
            <li>
              <a class="category-link {% if page.url == node.url %} active {% endif %}"
            href="{{ site.baseurl }}{{ node.url }}"><h1>{{ node.title }}</h1></a></li>
          {% endif %}
        {% endif %}
      {% endfor %} 
    </ul>
  
<!--
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
-->
</div>
